<body>

    <div class="login">
    
        <h1 class="text-center">Admin login</h1>
    
        <form class="need-validation">
    
            <div class="form-group">
    
                <label class="form-label" for="email">Email Address</label>
    
                <input class="form-control" type="email" id="email">
    
                <!-- <div class="invalid-feedback">
    
                    please enter your email address
    
                </div> -->
    
            </div>
    
            <div class="form-group">
    
                <label  class="form-label" for="pwd">PASSWORD</label>
    
                <input class="form-control" type="pwd" id="pwd">
    
                <!-- <div class="invalid-feedback">
    
                    please enter your password
    
                </div> -->
    
            </div>
    
            <input class="btn btn-success w-100"type="submit" value="SIGN IN">
    
        </form>
    
    </div>
    
    </body>