<!-- <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active rg" aria-current="page" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rg" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link rg" routerLink="/signup">Register</a>
      </li>
    </ul>
  </nav> -->
  <div id="sect1"> 
    <div>
      <h1>Welcome to our SurveyApp</h1>
      <br>
      <br>
    </div>
    <div>
      <br>
      <h3>Please complete the survey of Upcoming company offsite event by logging in.</h3>
    </div>
  </div>   
  
  
    
  